    <body style="background-color: #FF9A8B;
background-image: linear-gradient(0deg, #FF9A8B 0%, #c72c41 55%, #801336 100%)";
>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 bg-white">
<h2 style="font-weight: 700 ; border-bottom:3px solid #801336 ; padding-bottom: 10px;padding-top:10px">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up",class: "btn btn-primary" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
