<div class="container">
  <% @your_bookings.each do |booking| %>
        <div class="d-flex">
        <div style="background-color: white;padding:5px; solid rgba(200,200,200,0.9)" > <%= booking.photo.url.nil? ? image_tag("no_photo.jpg") : cl_image_tag(booking.photo, height: 300, width: 300, crop: :fill)%></div>
    <div class="card-product w-100%" style="padding: 5px;border-radius: 10px;">
      <div class="d-flex">
        <div class="card-product-infos" style="padding-left:30px;margin-right:10px">
          <h1 style="font-weight: 100;color:#801336"><%= booking.title.capitalize %></h1>
          <h3>Price :<%= "#{booking.price}€" %></h3>
          <h3>Category :<%= booking.category.capitalize %></h3>
          <h6> <%= booking.description %></h6>
          <p><%= booking.publication_date %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "See available comics", available_comics_path  %>

</div>
