<h1>Here's all your reservations</h1>
<%= link_to "Go back", comics_path %>
<% @your_bookings.each do |booking| %>
<div class="card-product">
  <%= cl_image_tag(booking.photo, height: 550, width: 400, crop: :fill) %>
  <div class="card-product-infos">
    <h1><%= booking.title.capitalize %></h1>
    <h3><%= booking.category.capitalize %></h3>
    <p> <%= booking.description %> </p>
    <p><small> <%= "Date de réservation #{booking.created_at}" %> </small></p>
  </div>
</div>
<% end %>

<%= link_to "See available comics", available_comics_path  %>




