<div class="container py-3">
  <div class="row d-flex justify-content-between mt-2 mb-5 p-3">
    <div class="col-3">
    <h1>Your reservations</h1>
    </div>
    <div class="col-2"></div>
    <%= link_to "Go back", comics_path %>
    <%= link_to "See available comics", available_comics_path  %>
    </div>
  <% @your_bookings.each do |comic| %>
  <div class="card-product">
    <%= cl_image_tag(comic.photo, height: 550, width: 400, crop: :fill) %>
    <div class="card-product-infos">

      <% if comic.bookings[0].pending %>
      <h4 class="text-danger">Still waiting for owner's acceptation</h4>
      <% else %>
        <h4 class="text-success">
          Accepted !
        </h4>
      <% end %>

      <h1><%= comic.title.capitalize %></h1>
      <h3><%= comic.category.capitalize %></h3>
      <p> <%= comic.description %> </p>
      <p><small> <%= "Date de reservation #{comic.created_at}" %> </small></p>
    </div>
  </div>
  <% end %>
</div>
