<body>
<div class="container py-3" style="min-height: 80%">
  <div class="row d-flex justify-content-center mt-2 mb-5 p-3">

    <div class="col-6 text-center">
      <%= form_tag comics_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Choose your comic's title"
       %>
      <% end %>
    </div>
<div class="row justify-content-center p-3">
    <%  @available.each  do |available| %>
      <div class="col-4" style="margin-bottom: 20px">
        <div class="d-flex justify-content-center">
          <% photo = available.photo.url.nil? ? image_path("no_photo.jpg") : cl_image_path(available.photo, height: 260, width: 300, crop: :fill) %>
              <article id="article" class="text-center">
              <%= image_tag photo, width: 280,class: "photo-comic" %>
                <h4> <%= available.title.capitalize %></h4>
                <%= "#{available.price}€" %>
                <p><%= available.category.capitalize %> </small></p>
                <p style="padding-bottom: 50px"> <%= available.publication_date %></p>
                <%= link_to "Visit", comic_path(available),class: "none btn btn-visit-index"%>
            </article>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
</div>
<script>

  const overlay = document.querySelectorAll("#overlay2")
  const articles = document.querySelectorAll("article")
  articles.forEach ((article) => {
    article.addEventListener("mouseover", (event)  => {
      duration: 2000;
  article.childNodes[9].classList.remove("none");
    });
  });
  articles.forEach ((article) => {
    article.addEventListener("mouseout", (event) => {
      article.childNodes[9].classList.add("none");

    });
  });
</script>

</body>

