<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 py-3 ">
<%= simple_form_for [@comic] do |f| %>
  <%= f.input :title %>
  <%= f.input :publication_date %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "add a comic", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right ">
    <%= link_to "Go to the list", comics_path %>
    </div>
  </div>
</div>

