    <%= render 'shared/photobanner' %>
<body>
<div class="container-fluid" style="min-height:80vh">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-2">
      <div class="col-flex">
          <%= link_to "See available comics", available_comics_path, class: "btn btn-info" %>
      </div>
    </div>
    <div class="col-4 text-center">
      <h1>All comics</h1>
    </div>
    <div class="col-2">
      <div class="col-flex">
        <% if policy(Comic).create? %>
          <%= link_to "Add a new comic", new_comic_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <img class="bullet" src="kisspng-bullet-icon-a-bullet-5a6ba6c01a0e90.5602092415170044801068.png" alt="">
  <div class="row d-flex justify-content-center" >
    <% @comics.each  do |comic| %>
      <div class="col-lg-2 col-xs-12 col-md-6 col-sm-12" style="margin-bottom:10px;height: 280px">
              <% photo = comic.photo.url.nil? ? image_path("no_photo") : cl_image_path(comic.photo, height: 550, width: 400, crop: :fill) %>
              <article id="article" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('<%= photo %>');border:1px solid black;background-repeat:cover">
                  <div class="overlay2 none" id="overlay2" style="transition-duration: 1s;">
                    <h4> <%= comic.title.capitalize %></h4>
              <%= "#{comic.price}€" %>
                    <div class="separer2"></div>
                    <p><%= comic.category.capitalize %> </small></p>
                    <p><small> <%= comic.publication_date %> </small></p>
                    <%= link_to "visit", comic_path(comic),class: "button-2" %>
                  </div>
                </article>
              </div>
          <% end %>
        </div>
      </div>
</div>

<script>

  const overlay = document.querySelectorAll("#overlay2")
  const articles = document.querySelectorAll("article")
  articles.forEach ((article) => {
    article.addEventListener("mouseover", (event)  => {
      duration: 2000;
      article.childNodes[1].classList.remove("none");
      article.style.width = "180px";
      article.style.height = "260px";
      article.childNodes[1].style.width ="180px";
      article.childNodes[1].style.height ="260px";
    });
  });
  articles.forEach ((article) => {
    article.addEventListener("mouseout", (event) => {
      article.childNodes[1].classList.add("none");
      article.style.height = "220px";
      article.style.width = "150px";
      article.childNodes[1].style.width = "220"
      article.childNodes[1].style.width = "150"
    });
  });
</script>

</body>
