<body>
<div class="container-fluid" style="min-height:80vh">
  <div class="row d-flex justify-content-center">
      <% if policy(Comic).create? %>
      <%= link_to "Add a new comic", new_comic_path,class: "left btn btn-primary" %>
      <% end %>
    <h1 class="text-center">All comics</h1>
    </div>
    <div class="row d-fles justify-content-center">
     <h3>Mouse-over a comic for see their informations</h3>
   </div>
  <div class="row d-flex justify-content-center" >
      <% @comics.each  do |comic| %>
          <div class="col-lg-2 col-xs-12 col-md-6 col-sm-12" style="margin-bottom:10px;height: 280px">
          <% photo = comic.photo.url.nil? ? asset_path("superman.jpg") : comic.photo %>
          <article id="article" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('<%= cl_image_path photo, height: 550, width: 400, crop: :fill %>');border:1px solid black;background-repeat:cover">
              <div class="overlay2 none" id="overlay2" style="    transition-duration: 1s;">
                <h4> <%= comic.title.capitalize %></h4>
                <div class="separer2"></div>
                <p><%= comic.category.capitalize %> </small></p>
                <p><small> <%= comic.publication_date %> </small></p>
                <%= link_to "visit", comic_path(comic),class: "button-2" %>
              </div>
            </article>
          </div>
          <% end %>
        </div>
    </div>
</div>
<script>

  const overlay = document.querySelectorAll("#overlay2")
  const articles = document.querySelectorAll("article")
  articles.forEach ((article) => {
    article.addEventListener("mouseover", (event)  => {
      duration: 2000;
      article.childNodes[1].classList.remove("none");
      article.style.width = "180px";
      article.style.height = "260px";
      article.childNodes[1].style.width ="180px";
      article.childNodes[1].style.height ="260px";
    });
  });
  articles.forEach ((article) => {
    article.addEventListener("mouseout", (event) => {
      article.childNodes[1].classList.add("none");
      article.style.height = "220px";
      article.style.width = "150px";
      article.childNodes[1].style.width = "220"
      article.childNodes[1].style.width = "150"
    });
  });
</script>
<%= link_to "See available comics", available_comics_path  %>
<%= link_to "See your reservations", user_bookings_path(current_user)  %>

</body>
