    <body class="background">
<div class="container" >
  <div class="row justify-content-center" >

    <div class="col-6 py-3 " style="background-color: white ; margin-top: 10px">
      <h1 class="text-center mt-3 mb-3" style="font-weight: 700 ; border-bottom:3px solid #801336 ; padding-bottom: 10px;padding-top:10px">Add a Comic</h1>
<%= simple_form_for [@comic] do |f| %>
  <%= f.input :title %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :publication_date %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add a comic", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-left ">

    <%= link_to "Go to the list", comics_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>

</body>
