<%= render 'shared/photobanner' %>
<body>

</body>
<div class="container" style="min-height: 80vh">
  <h1>Comic's info</h1>

<div class="card-product rounded">
  <%= @comic.photo.url.nil? ? image_tag("no_photo") : cl_image_tag(@comic.photo, height: 550, width: 400, crop: :fill) %>
  <div class="d-flex">
    <div class="card-product-infos">
      <h1><%= @comic.title.capitalize %></h1>
      <h3><%= "#{@comic.price}€" %></h3>
      <h3><%= @comic.category.capitalize %></h3>
      <p><%= @comic.description %></p>
      <p><%= @comic.publication_date %></p>
    </div>

    <% if @comic.available %>
      <div class='book-button'><%= link_to "Book this comic now !", new_comic_booking_path(@comic)%></div>
      <% else %>
      <div class="back-booked">
      Already Booked
      </div>
      <% end %>
  </div>
</div>


<div class="comic-option py-3">
  <%= link_to "Go back to the comics", comics_path, class: "btn btn-primary" %>
  <% if policy(@comic).edit? %>
    <%= link_to "Edit", edit_comic_path(@comic), class: "btn btn-primary"%>
    <% end %>
    <% if @comic.available %>
      <span class="btn btn-danger"><%= link_to "Delete", comic_path(@comic), {method: :delete, data:{ confirm: "Are you sure?"}}%></span>
      <% end %>
</div>
<div class="row d-flex justify-content-center">
<h2>Votre comic se  trouve Ici !</h2>
</div>
<div
  id="map"
  style="width: 100%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="pk.eyJ1IjoieW9yZGFubyIsImEiOiJjanc2N2NyYWMwMjc2M3lxaDY5amxjcGJxIn0.Y02pRKy2ZP7-rFqq_Mt8Eg"
></div>


</div>




