<body>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "", class: "navbar-brand" do %>
    <%= link_to "CnBubbles", comics_path, class: "logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Pending", user_pending_path(current_user), class: "nav-link-1" %>
          <%= link_to "Add a comic", new_comic_path, class: "nav-link-1" %>
          <%= link_to "Your reservations", user_bookings_path(current_user), class: "nav-link-1"  %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure ?" }, class: "nav-link-2" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script>
</script>
</body>
