<body>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Available", available_comics_path, class: "nav-link-1" %>
        <%= link_to "Your reservations", user_bookings_path(current_user), class: "nav-link-1" %>
      </li>
  </ul>

  <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">
  <div class="logo_postion">
    <%= link_to "CnBubbles", available_comics_path, class: "logo" %>
  </div>
  </div>
</div>


  <div class="collapse navbar-collapse col-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Pending", user_pending_path(current_user), class: "nav-link-1" %>
          <%= link_to "Add a comic", new_comic_path, class: "nav-link-1" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure ?" }, class: "nav-link-1" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
</script>

</body>
